<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    
    <!-- HTML Meta Tags -->
    <title><%= article.meta.title %> | Windy City Herald</title>
    <meta
      name="description"
      content="<%= article.meta.exerpt %>"
    />

    <!-- Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://windycityherald.com/articles/every-run-is-a-miracle/"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="<%= article.meta.title %> | Windy City Herald"
    />
    <meta
      property="og:description"
      content="<%= article.meta.exerpt %>"
    />
    <meta property="og:image" content="https://windycityherald.com/<%= article.meta.image %>" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="windycityherald.com" />
    <meta
      property="twitter:url"
      content="https://windycityherald.com/articles/every-run-is-a-miracle/"
    />
    <meta
      name="twitter:title"
      content="<%= article.meta.title %> | Windy City Herald"
    />
    <meta
      name="twitter:description"
      content="<%= article.meta.exerpt %>"
    />
    <meta name="twitter:image" content="https://windycityherald.com/<%= article.meta.image %>" />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>
  <body>
    <%- include('../components/header') %>
    <hr />
    <main class="articlePage">
      <section class="articleArea">
        <h1><%= article.meta.title %></h1>
        <p>Written by <%= article.author.name %></p>
        <p>
          <%= article.meta.section %> | <%= new Intl.DateTimeFormat('en-US', {
          dateStyle: 'medium', timeZone: 'UTC'}).format(article.meta.created) %>
        </p>
        <img
          src="<%= article.meta.image %>"
          alt="<%= article.meta.imageAlt %>"
        />
        <p class="imgCredit"><i><%= article.meta.imageCredit %></i></p>
        <hr />
        <div class="article"><%- article.html %></div>
      </section>
    </main>
  </body>
</html>
